body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(17, 15, 37);
    font-weight: bold;
}
.menu{
    background-color: #DCDCDC;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
}
.menu > ul > li:last-child{
    font-weight: bold;
}
.menu li{
    display: inline;
    padding-left: 80px;
}
.menu img{
    width: 70px;
}
.estilo-imagem{
    border: solid #2e2c2c 4px;
    border-radius: 110px;
}
.banner > h1{
    font-family: 'Bangers', cursive;
    font-size: 55px;
    text-align: center;
    color: rgb(247, 232, 232);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.banner > p{
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 10px 0 10px 0;
}
.banner{
    padding-top: 170px;
    padding-bottom: 170px;
    background-image: url("../imagens/fundoboteco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -15px;
    margin-top: -15px;
}
#receita-pastel{
    margin-top: 10px;
}
.container{
    display: flex;
    align-items: center;
    padding: 30px 0 30px 25px;
    flex-direction: row;
    flex-wrap: row wrap;
    background-color: rgb(255, 244, 239);
}
.sobrepastel{
    padding-left: 20px;
}
.container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(146, 54, 17, 0.068);
    padding-top: 30px;
    margin-bottom: -16px;
}
aside p{
    text-align: center;
}
article p{
    padding-left: 20px;
    background-color: rgba(146, 54, 17, 0.068);
    padding: 10px 0 30px 0;
}
footer{
    background-color:#c9c4c4d0;
    margin-bottom: -10px; 
}
.rodape{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2px;
    padding-bottom: 10px 0 10px 0;
    margin-top: -16px;
}
.rodape > div > ol > li:first-child{
    font-weight: bold;
}
